/.idea
/.vscode
/44
/aaa
/algorythms
/arc
/build
/Calculator
/canvas
/colorsbuttons
/dino
/dlya pacanov
/ezh
/ffff
/filez
/flappu bird
/kurch
/mebel
/minesweeper
/Note
/NTO4
/oop
/palochka
/pasc
/plantsvszombies
/races
/starwars
/text1.txt
/ugadaychislo
/vaiuty
/xo
/__pycache__
/графика
/общ